*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#111827;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:420px;
    background:#1f2937;
    color:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,.4);
}

h1{
    text-align:center;
    margin-bottom:25px;
}

.password-box{
    display:flex;
    margin-bottom:20px;
}

.password-box input{
    flex:1;
    padding:12px;
    border:none;
    outline:none;
    font-size:18px;
    border-radius:8px 0 0 8px;
}

.password-box button{
    width:55px;
    border:none;
    cursor:pointer;
    font-size:20px;
    background:#3b82f6;
    color:white;
    border-radius:0 8px 8px 0;
}

.length{
    margin:20px 0;
}

.length input{
    width:100%;
    margin-top:10px;
}

.options{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin:20px 0;
}

.options label{
    display:flex;
    gap:10px;
}

.bar{
    width:100%;
    height:10px;
    background:#444;
    border-radius:20px;
    overflow:hidden;
}

#strengthBar{
    width:60%;
    height:100%;
    background:#22c55e;
}

.generate{
    width:100%;
    margin-top:25px;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#3b82f6;
    color:white;
    font-size:18px;
    cursor:pointer;
}

.generate:hover{
    background:#2563eb;
}


#message{
    text-align:center;
    color:#22c55e;
    font-size:14px;
    margin-top:8px;
    height:20px;
}

.strength-text{
    display:flex;
    justify-content:space-between;
    margin-bottom:10px;
}

#strengthLabel{
    font-weight:bold;
    color:#22c55e;
}

.password-box button{
    width:55px;
}

#toggleBtn{
    background:#6b7280;
}

#toggleBtn:hover{
    background:#4b5563;
}

.generate{
    transition:.3s;
}

.generate:hover{
    transform:scale(1.03);
}


.container{

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.15);

}

#themeBtn{

float:right;

padding:8px 12px;

cursor:pointer;

border:none;

border-radius:8px;

background:#3b82f6;

color:white;

margin-bottom:15px;

}

.ad-box{

margin-top:30px;

height:100px;

display:flex;

justify-content:center;

align-items:center;

background:#2b3647;

border-radius:10px;

color:#888;

}

footer{

text-align:center;

margin-top:20px;

color:#aaa;

font-size:14px;

}

#history{

margin-top:20px;

list-style:none;

max-height:150px;

overflow:auto;

}

#history li{

background:#2b3647;

padding:10px;

margin-bottom:8px;

border-radius:8px;

font-size:14px;

word-break:break-all;

}

body.light{

background:#f4f4f4;

}

body.light .container{

background:white;

color:#111;

}

body.light input{

background:#eee;

color:#111;

}

body.light .ad-box{

background:#ddd;

}
